
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.gallery-link {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-grid img:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.image-grid img:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.image-grid img:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}


.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  row-gap: 1em;
  column-gap: 1em;
}

.wrapper > div {
  border: solid 1px green;

}

.box1  {
  width: 800px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  width: 400px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box3  {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box5  {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

