
.product-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-name {
  font-size: 36px;
  font-weight: bold;
}

.product-id {
  font-size: 18px;
  color: #666;
}

.product-content {
  display: flex;
  gap: 20px;
}

.product-image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.product-details {
  max-width: 500px;
}

.product-description {
  font-size: 14px;
  line-height: 1.6;
}

.product-size {
  margin-top: 20px;
}

.product-size p {
  margin: 0;
}

.additional-info {
  margin-top: 20px;
}

.product-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.bag-detail-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-cart-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #444;
}



/* .container {

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;

  position: relative;
  z-index: 10;
  width: 100%;
}

.logo{
  max-height: 65px;
}

.logo > img {
  height: 65px;
}

.navbar-brand {
  color: #333;
  font-size: 1.5em;
  text-transform: uppercase;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  text-decoration:none;
  text-transform:uppercase;
  color: #333;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e2e2e2;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.navbar-links a:hover::after {
  opacity: 1;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fefefe;
  list-style: none;
  padding: 0;
  margin:  0;
  z-index: 1000;
}

.dropdown-menu li {
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a {
  padding: 15px 20px;
  color: #333;
}


.dropdown:hover .dropdown-menu {
  display: block;
}


.navbar-links a:hover {
  background-color: #f7f7f7;
}




.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: #333;
  border-radius: 2px;
}

@media (min-width: 769px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container {
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {

body{
  padding-top: 0;
}

  .navbar {
    position: relative;
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #666;
    width: 100%;
    height: 80%;
    flex-direction: column;
    border-top: 1px solid #ccc;
  }

  .navbar-links.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .cart-total {
    position: absolute;
    top: 15px;
    right: 20px;
  }
} */



.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo{
  max-height: 65px;
}

.logo > img {
  height: 65px;
}

/* .logo a {
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  color: var(--button-color);
  text-decoration: none;
} */

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-menu li a {
  color: var(--nav-text-color);
  text-decoration:none;
  text-transform:uppercase;
  color: #333;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
}


.nav-item a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e2e2e2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item li a:hover {
  background-color: #f7f7f7;
}
.nav-item a:hover::after {
  opacity: 1;
}
/*
.nav-menu li a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-menu li a:hover::after {
  opacity: 1;
}


.nav-menu li a:hover {
  background-color: #f7f7f7;
} */


.menu-icon {
  position: absolute;
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: var(--nav-text-color);
  transition: all 0.3s;
}

.menu-icon.open .bar1,
.menu-icon.open .bar2,
.menu-icon.open .bar3 {
  background-color: var(--nav-active-text);
}

.menu-icon .open-bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color: white;
}

.menu-icon .open-bar2 {
  opacity: 0;
}

.menu-icon .open-bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: white;
}

.nav-menu.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--nav-active-background);
  opacity: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
}

.nav-menu.active li a {
  color: var(--nav-active-text);
  font-size: 24px;
  margin: 20px 0;
}

.cart-total {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: flex-start;
  }

  .logo {
    order: 2;
    margin-left: auto;
  }

  .menu-icon {
    display: flex;
    order: 1;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--nav-active-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s;
  }

  .nav-menu li {
    margin: 20px 0;
  }

  .nav-menu li a {
    color: var(--nav-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    color: var(--nav-active-text);
    font-size: 24px;
  }
}
