
    <!-- <div class="container">

        <div class="image-grid">


          <img src="../../assets/DJI_0887-Edit.jpg">
        </div>
    </div> -->


    <div class="wrapper">
      <div class="box1">  <h1 class="title">FALL COLLECTION</h1>
        <p class="description">
            Photos are metaphors, making the abstract concrete and
            mystifying the mundane. Be clear, be confident, and don't
            overthink it. The beauty of your story is that it's going to
            continue to evolve and your site can evolve with it. Your goal
            should be to make it feel right for right now. Later will take
            care of itself.
        </p>
        <a href="#" class="gallery-link">→ View full gallery</a></div>
      <div class="box2"><img style="width: 300px;" src="../../assets/DJI_0887-Edit.jpg"></div>
      <div class="box3"><img style="width: 800px; " src="../../assets/DJI_0887-Edit.jpg"></div>
      <div class="box4">Four</div>
      <div class="box5">Five</div>
      <div class="box6"><img style="width: 300px;"  src="../../assets/DJI_0887-Edit.jpg"></div>
    </div>
