<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <img src="../../assets/p3Logo.png" alt="p3logo">
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
      <div class="bar1" [ngClass]="{'open-bar1': menuOpen}"></div>
      <div class="bar2" [ngClass]="{'open-bar2': menuOpen}"></div>
      <div class="bar3" [ngClass]="{'open-bar3': menuOpen}"></div>
    </div>
    <ul class="nav-menu" [ngClass]="{'active': menuOpen}">
      <li class="nav-item">
        <a routerLink="/" class="nav-links" (click)="closeMenu()">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/photos" class="nav-links" (click)="closeMenu()">Photos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/floorplan" class="nav-links" (click)="closeMenu()">Floor Plans</a>
      </li>
      <li class="nav-item">
        <a routerLink="/virtualstaging" class="nav-links" (click)="closeMenu()">Virtual Staging</a>
      </li>
      <li class="nav-item">
        <a routerLink="/book" class="nav-links" (click)="closeMenu()">Schedule a Shoot</a>
      </li>
    </ul>
    <div class="cart-total">
      Total: ${{ cartTotal }}
    </div>
  </div>
</nav>
