
.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
  width: 1200px;
  margin: 0 auto;
}

.logo{
  max-height: 65px;
}

.logo > img {
  height: 65px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-menu li a {
  color: var(--nav-text-color);
  text-decoration:none;
  text-transform:uppercase;
  color: #333;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
}

.nav-menu li a {
  color: var(--nav-text-color);
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
  position: relative; /* Important to position the triangle relative to the link */
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333; /* Triangle color */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-menu li a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(5px); /* Moves the triangle down slightly */
}

.menu-icon {
  position: absolute;
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: var(--nav-text-color);
  transition: all 0.3s;
}

.menu-icon.open .bar1,
.menu-icon.open .bar2,
.menu-icon.open .bar3 {
  background-color: var(--nav-active-text);
}

.menu-icon .open-bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color: white;
}

.menu-icon .open-bar2 {
  opacity: 0;
}

.menu-icon .open-bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: white;
}

.nav-menu.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--nav-active-background);
  opacity: .9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
}

.nav-menu.active li a {
  color: var(--nav-active-text);
  font-size: 24px;
  margin: 20px 0;
}

.cart-total {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: flex-start;
  }

  .logo {
    order: 2;
    margin-left: auto;
  }

  .menu-icon {
    display: flex;
    order: 1;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--nav-active-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s;
  }

  .nav-menu li {
    margin: 20px 0;
  }

  .nav-menu li a {
    color: var(--nav-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    color: var(--nav-active-text);
    font-size: 24px;
  }
}
