<div class="container">
<section class="hero">
  <h1 class="hero-title montserrat-h1 ">ESTATE MEDIA</h1>
  <div class="hero-details">
    <div class="details_container">
      <div class="left">
        <img src="../../assets/me.jpg">
      </div>
      <div class="right">
        <div>
          <h1 class="hero-title montserrat-h1 ">PROS</h1>
        <p class="top-paragraph hero-subtitle">SEATTLE-BASED PHOTOGRAPHY BY ALEX BUCSE</p>
        </div>

        <p class="bottom-paragraph roboto-slab-about">Alex Bucse is an Seattle based photographer,
          cinematographer and art director.
<br/>
          I aim to provide homeowners and realtors with professional images that will enhance their property listings.
          By using the latest camera technology, multiple lighting options, and advanced image blending techniques, to produce stunning professional photos.
          My services include interior, exterior, aerial photography, and video to help your listings stand out and grab the attention of potential buyers. <br><br>
          <a href="#" class="about-link">About Alex</a></p>

      </div>
    </div>

  </div>

</section>
</div>


