<div class="container">
<section class="hero">
  <h1 class="hero-title montserrat-h1 ">ESTATE MEDIA</h1>
  <div class="hero-details">
    <div class="details_container">
      <div class="left">
        <img src="../../assets/me.jpg">
      </div>
      <div class="right">
        <p class="top-paragraph hero-subtitle">SEATTLE-BASED PHOTOGRAPHY BY ALEX BUCSE</p>
        <p class="bottom-paragraph roboto-slab-about">Alex Bucse is an Seattle based photographer,
          cinematographer and art director. His juxtaposition between light and shadow punctuates his signature style.
          Alex believes photos are metaphors, making the abstract concrete and mystifying the mundane.<br><br>
          <a href="#" class="about-link">About Alex</a></p>

      </div>
    </div>

  </div>

</section>
</div>


