

.hero {
  text-align: left;
  margin: 50px auto;
  max-width: 1200px;
}

.hero-title {
  font-size: 140px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  display: inline-block; /* Ensures it respects the parent width */
  width: 100%; /* Ensures it spans the entire parent width */
  word-wrap: break-word; /* Prevents overflow by breaking long words */
  overflow-wrap: break-word; /* Ensures that the text doesn't overflow */
  box-sizing: border-box; /* Ensures padding is included in width */
}

.hero-details {
  display: flex;
  width: 100%;
}

.left {
  width: 60%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div without distortion */
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Optional: adds some padding inside the right div */
}


.top-paragraph {
  margin: 0;

  /* Additional styling if needed */
}

.bottom-paragraph {
  margin: 0;
  font-size: .8rem;
  /* Additional styling if needed */
}

.hero-subtitle {
  font-size: 18px;
  max-width: 50%;
  margin: 0;
}
/*
.hero-image {
  max-width: 50%;
  flex-grow: 1;
}
*/
.hero-image img{
  max-width: 500px;
}


.details_container {
  display: flex;
  width: 100%;
}

.left {
  width: 60%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div without distortion */
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Optional: adds some padding inside the right div */
}

.top-paragraph {
  margin: 0;
  /* Additional styling if needed */
}

.bottom-paragraph {
  margin: 0;
  /* Additional styling if needed */
}
