/* General Products List Styling */
.products-list {
  width: 100%;
  padding: 20px;
  margin-top: 70px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.products-list h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


td img {
  border-radius: 4px;
  object-fit: cover;
}
label{
  font-weight: bold;
}

button{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-self: flex-end;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.descriptionCell{
  max-width: 400px;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Hide table headers and convert rows to block style */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
  }

  td {
    padding: 10px;
    text-align: right;
    position: relative;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  td img {
    width: 40px;
    height: 40px;
  }

  .products-list {
    padding: 10px;
  }

  td[data-label="Actions"] {
    display: flex;
    justify-content: space-around;
  }
}
