<h2>Products</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product Type</th>
      <th>Description</th>
      <th>Base SqFt/<br/> Price</th>
      <th>Increment SqFt/<br/>Price</th>
      <th>Active</th>
      <th>Promotion</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img [src]="product.imageUrl" alt="{{ product.name }}" width="100" height="100"><br/><br/>{{ product.name }}</td>
      <td>{{ product.productType }}</td>
      <td class="descriptionCell">
        <label>Short Description:</label><br/>
        {{ product.description }}<br/><br>
        <label>Detailed Description:</label><br/>
      {{product.detailedDescription}}</td>
      <td>{{ product.baseSqFt }}<br/>{{ product.basePrice | currency }}</td>
      <td>{{ product.incrementSqFtStep }}<br/>{{ product.priceIncrementPerSqFt | currency }}</td>
      <td>{{ product.isActive ? 'Yes' : 'No' }}</td>
      <td>{{ product.isPromotion ? 'Yes' : 'No' }}<br/>{{ product.promotionDiscount ? product.promotionDiscount + '%' : 'N/A' }}</td>
      <td>
        <button (click)="editProduct(product)">Edit</button>
        <button class="btn-danger" (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
