<div class="admin-container">
  <!-- <button class="sidebar-toggle" (click)="isSidebarCollapsed = !isSidebarCollapsed">
    ☰
  </button>

  <nav class="admin-sidebar" [class.collapsed]="isSidebarCollapsed">
    <ul>
      <li routerLink="/admin/products">Products</li>
      <li routerLink="/admin/orders">Orders</li>
      <li routerLink="/admin/subscribers">Subscribers</li>
      <li routerLink="/admin/add-product">Add Product</li>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </ul>
  </nav> -->

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
