<div class="container">
<section class="hero">
  <h1 class="hero-title montserrat-h1 ">PACIFIC PROPERTY</h1>
  <div class="hero-details">
    <div class="details_container">
      <div class="left">
        <img src="../../assets/A7405006-Edit.jpg">
      </div>
      <div class="right">
        <div>
          <h1 class="hero-title-small montserrat-h1 ">PHOTOS</h1>
        <p class="top-paragraph hero-subtitle">VANCOUVER-BASED PHOTOGRAPHY BY ADRIAN STANESE</p>
        </div>

        <p class="bottom-paragraph roboto-slab-about">Adrian is a Vancouver-based real estate photographer specializing in capturing stunning images that elevate property listings.
          I work with homeowners, realtors, and developers to showcase properties with professional,
          high-quality visuals. Using state-of-the-art camera equipment, advanced lighting techniques, and expert image editing, I deliver exceptional photos that highlight the best
           features of each home. My services include interior and exterior photography, floor plans, and real estate virtual staging to ensure your listings stand out and attract more potential buyers. <br><br><br><br>
          <a href="#" class="about-link">About Adrian</a></p>

      </div>
    </div>

  </div>

</section>
</div>


