

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.gallery-image-wrapper img {
  width: 341px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.gallery-image-wrapper img:hover {
  transform: scale(1.05);
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content img {
  width: 1024px;
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 32px;
  color: white;
  background-color: black;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
}

.cotainer {
  margin-top: 70px;
}
