<div class="container">
<section class="hero">
  <div class="hero-details">
    <div class="details_container">
      <div class="left">
        <p class="top-paragraph hero-subtitle">PHOTOGRAPHY COLLECTION</p>
        <div class="bottom-paragraph roboto-slab-about"> We offer two distinct packages to cater to your unique needs and budget: the Showcase Package and the Essentials Package.
<br><br>
          <strong>Showcase Package:</strong>
<br>
          Our Showcase Package is perfect for clients who want to highlight their property’s best features and create stunning visuals that capture the attention of potential buyers.
<br><br>
         <strong>Essentials Package:</strong>
<br>
Our Essentials Package is designed for clients who want professional real estate photography at a more affordable price .<br><br>
          <a href="#" class="about-link">View Gallery</a>
          <div class="small-image">
            <img src="../../assets/MKI07363ENFUSE-Edit.jpg">
          </div></div>
      </div>
      <div class="right">
        <img src="../../assets/A7400551.jpg">
      </div>
    </div>
  </div>

</section>
</div>
