<div class="mt-5">
  <div class="cart-summary">
    <h3>Your Cart</h3>
    <div *ngFor="let item of cartItems; let i = index" class="cart-item">
      <div class="cart-item-name">{{ item.name }}</div>
      <div class="cart-item-cost">
        <div class="cart-item-price"> {{ item.price | currency }}</div>
        <div><button class="remove-button" (click)="removeFromCart(i)"><i class="bi bi-trash"></i> </button></div>
      </div>

    </div>
    <div class="total-summary">
      <div class="total-label"><strong>Subtotal:</strong>  </div>
      <div class="total-cost">
        <p> {{ totalCost | currency }} CAD</p>
      </div>
    </div>
    <p>Taxes calculated at checkout.</p>

  </div>
  <div class="cart-checkout">
    <button class="checkout-button" (click)="checkout()">Ready to Book</button>
  </div>
</div>
