<div class="container">
<section class="hero">
  <div class="hero-details">
    <div class="details_container">
      <div class="left">
        <div class="top-paragraph hero-subtitle">PHOTOGRAPHY COLLECTION</div>
        <div class="bottom-paragraph roboto-slab-about"> Highlight every feature of your property with professional HDR photography, ensuring brilliant, detailed images. We’ve eliminated photo limits—every image taken is yours, giving you the flexibility to choose the perfect shots.
           With professional editing, your listing will stand out and attract the attention it deserves.<br><br><br><br>
          <a href="#" class="about-link">View Gallery</a>
          <div class="small-image">
            <img src="../../assets/MKI07363ENFUSE-Edit.jpg">
          </div></div>
      </div>
      <div class="right">
        <img src="../../assets/A7400551.jpg">
      </div>
    </div>
  </div>

</section>
</div>
