<div class="container">
  <section class="hero">
    <div class="hero-details">
      <div class="details_container">
        <div class="wrapper">
          <div class="box1">
            <p class="top-paragraph hero-subtitle">3D TOUR COLLECTION</p>
            <div class="bottom-paragraph roboto-slab-about">
              <div style="width: 60%;">Matterport 3D tours, Zillow 3D Home, and Cupix 3D Virtual Space all help create a full immersive virtual experience for potential buyers.
              It is the best way to let your customer experience your listing online from the safety and comfort of their home. Plus, 3D Tours allow the luxury of a 24/7 open house</div>
              <br><br>
              <a href="#" class="about-link">View Gallery</a></div>
            </div>
          <div class="box2"><img  src="../../assets/ss1.png"></div>
          <div class="box3"> <iframe width='853' height='480' src='https://my.matterport.com/show/?m=wbuRvaMCzYB' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe></div>
          <div class="box4"></div>
          <div class="box5"></div>
          <div class="box6"><img  src="../../assets/ss2.png"></div>
        </div>
      </div>
    </div>

  </section>
  </div>



  <!-- <div class="left">

      <div class="small-image">

      </div></div>
  </div>
  <div class="right">
    <img src="../../assets/7R305691.jpg">
  </div> -->
