/* General Container for both photos and videos */
.general-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
  padding: 0 15px;
}

.general-product-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

/* Hover effect similar to what we see in the uploaded image */
.general-product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product-container {
  flex:1;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-name {
  font-size: 36px;
  font-weight: bold;
}

.product-id {
  font-size: 18px;
  color: #666;
}

.product-content {
  display: flex;
  gap: 20px;
}

.product-image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.product-details {
  max-width: 500px;
}

.product-description {
  font-size: 14px;
  line-height: 1.6;
}

.product-size {
  margin-top: 20px;
}

.product-size p {
  margin: 0;
}

.additional-info {
  margin-top: 20px;
  display: none;
}

.product-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.bag-detail-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-cart-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* Responsive behavior */
@media (max-width: 768px) {
  .photo-video-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .photo-video-item img,
  .photo-video-item video {
    height: 200px;
  }

  .photo-video-info h3 {
    font-size: 16px;
  }

  .photo-video-info p {
    font-size: 12px;
  }
}


