<div class="container">
  <section class="hero">
    <div class="hero-details">
      <div class="details_container">
        <div class="left">
          <p class="top-paragraph hero-subtitle">VIDEO COLLECTION</p>
          <div class="bottom-paragraph roboto-slab-about">Due to everything happening around us, buyers now rely on online tools to help them narrow down potential
            home choices and the online presence of each listing is everything. We offer professional videos that showcase both homes as well as the local community.
            We also offer videos about the listing you offer to potential clients so that way people get to know you and the property before they ever meet you.<br><br>
            <strong>Video | Slideshow | Reel</strong><br/><br/>
            <a href="#" class="about-link">View Gallery</a>
            <div class="small-image">
              <img src="../../assets/MKI07363ENFUSE-Edit.jpg">
            </div></div>
        </div>
        <div class="right">
          <iframe width="672" height="840" src="https://www.youtube.com/embed/0UPCqE30AXg?si=tGnhC-FoJpncjvn2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </section>
  </div>
