<div class="wrapper">

<div class="container">
<footer class="footer">
  <div class="subscribe">
    <h2>SUBSCRIBE</h2>
    <p>Sign up with your email address to receive news and updates.</p>
    <form (ngSubmit)="onSubscribe()">
      <input type="email" placeholder="Email Address" class="email-input" [(ngModel)]="email" name="email" class="email-input" required  />
      <button type="submit" class="sign-up-btn">Sign Up</button>
    </form>
    <p class="privacy-text">We respect your privacy.</p>
  </div>

  <div class="links">
    <div class="sitemap">
      <h3>SITEMAP</h3>
      <ul>
        <li><a routerLink="/photos" >PHOTOS</a></li>
        <li><a routerLink="/floorplan">FLOORPLANS</a></li>
        <li><a routerLink="/virtualstaging">VIRTUAL STAGING</a></li>
        <li><a routerLink="/book">SCHEDULE A SHOOT</a></li>
      </ul>
    </div>

    <div class="follow">
      <h3>FOLLOW</h3>
      <ul>
        <li><a href="#">INSTAGRAM</a></li>
        <li><a href="#">LINKEDIN</a></li>
      </ul>
    </div>

    <div class="follow">
      <h3>INFORMATION</h3>
      <ul>
        <li><a routerLink="/policy">POLICY</a></li>
        <li><a routerLink="/tos">TERMS OF SERVICE</a></li>
      </ul>
    </div>
  </div>


</footer>
<div class="brand">
  <h3>PACIFIC PROPERY PHOTOS</h3>
</div>
</div>
</div>
