<div class="order-edit">
  <h2>Edit Order</h2>
  <form [formGroup]="orderForm" (ngSubmit)="saveOrder()">
    <div>
      <label for="comments">Comments:</label>
      <textarea id="comments" formControlName="comments"></textarea>
    </div>
    <div>
      <label for="tourLink">3D Tour Link:</label>
      <input id="tourLink" formControlName="tourLink" type="text">
    </div>
    <div>
      <label for="videoLink">Video Link:</label>
      <input id="videoLink" formControlName="videoLink" type="text">
    </div>
    <button type="submit" [disabled]="orderForm.invalid">Save</button>
  </form>
</div>
