<div class="container mt-5 store-container">
  <div class="store-header">
    <h1>Schedule a Shoot</h1>
  </div>
  <form>
    <div class="main-content">
      <!-- Product Section on the Left -->
      <div class="products-section">
        <!-- Square Footage Radio Button Selector -->
        <label>Select Square Footage:</label>
        <div class="sqft-selection-section mb-3">

          <div class="d-flex flex-wrap">
            <label class="radio-option">
              <input type="radio" name="squareFt" [(ngModel)]="selectedSqFt" value="500-1000" (change)="onSqftChange(500, 1000)"> 500-1000
            </label>
            <label class="radio-option">
              <input type="radio" name="squareFt" [(ngModel)]="selectedSqFt" value="1001-2000" (change)="onSqftChange(1001, 2000)"> 1001-2000
            </label>
            <label class="radio-option">
              <input type="radio" name="squareFt" [(ngModel)]="selectedSqFt" value="2001-3000" (change)="onSqftChange(2001, 3000)"> 2001-3000
            </label>
            <label class="radio-option">
              <input type="radio" name="squareFt" [(ngModel)]="selectedSqFt" value="3001-4000" (change)="onSqftChange(3001, 4000)"> 3001-4000
            </label>
            <label class="radio-option">
              <input type="radio" name="squareFt" [(ngModel)]="selectedSqFt" value="4001-5000" (change)="onSqftChange(4001, 5000)"> 4001-5000
            </label>
          </div>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs justify-content-center custom-tabs">
          <li class="nav-item" *ngIf="showVideoandTour">
            <a class="nav-link" [class.active]="activeTab === 'bundles'" (click)="activeTab = 'bundles'">Bundles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'photos'" (click)="activeTab = 'photos'">Photos</a>
          </li>
          <li class="nav-item" *ngIf="showVideoandTour">
            <a class="nav-link" [class.active]="activeTab === 'video'" (click)="activeTab = 'video'">Video</a>
          </li>
          <li class="nav-item" *ngIf="showVideoandTour">
            <a class="nav-link" [class.active]="activeTab === '3dTour'" (click)="activeTab = '3dTour'">3D Tour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'floorplan'" (click)="activeTab = 'floorplan'">Floor Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'staging'" (click)="activeTab = 'staging'">Staging</a>
          </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
          <app-photos *ngIf="activeTab === 'photos'" [listOfProducts]="(products | filterByType: 'photo' | sortBy: 'sort')"(viewProductDetails)="openModal($event)"></app-photos>
          <app-video *ngIf="activeTab === 'video'" [listOfProducts]="(products | filterByType: 'video' | sortBy: 'sort')" (viewProductDetails)="openModal($event)"></app-video>
          <app-tour *ngIf="activeTab === '3dTour'" [listOfProducts]="(products | filterByType: 'tour'| sortBy: 'sort')" (viewProductDetails)="openModal($event)"></app-tour>
          <app-floorplan *ngIf="activeTab === 'floorplan'" [listOfProducts]="(products | filterByType: 'floorplan'| sortBy: 'sort')" (viewProductDetails)="openModal($event)"></app-floorplan>
          <app-staging *ngIf="activeTab === 'staging'" [listOfProducts]="(products | filterByType: 'staging'| sortBy: 'sort')" (viewProductDetails)="openModal($event)"></app-staging>
          <app-bundles *ngIf="activeTab === 'bundles'" [listOfProducts]="(products | filterByType: 'bundle'| sortBy: 'sort')" (viewProductDetails)="openModal($event)"></app-bundles>
        </div>
      </div>

      <!-- Cart Section on the Right -->
      <div class="cart-section">
        <app-cart (bookNowClicked)="onBookNow()"></app-cart>
        <app-customer-info *ngIf="showCustomerInfo" [orderForm]="orderForm" (submitForm)="onSubmit()"></app-customer-info>
      </div>
    </div>
  </form>
</div>


  <!-- Product Details Modal -->
  <div *ngIf="showModal" class="modal-overlay" (click)="closeModal()">
    <div class="modal-window" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closeModal()">&#10006;</span>
      <h2>{{ selectedProduct?.name }}</h2>
      <p>{{ selectedProduct?.detailedDescription }}</p>
      <p><strong>Base Price:</strong> {{ selectedProduct?.basePrice | currency }}</p>
      <small><strong>Increment Price:</strong> {{ selectedProduct?.priceIncrementPerSqFt | currency }} / {{selectedProduct?.incrementSqFtStep}} sqft</small>
      <div class="product-thumbnails">
        <img src="https://via.placeholder.com/50x100" alt="Thumbnail 1" class="thumbnail">
        <img src="https://via.placeholder.com/50x100" alt="Thumbnail 2" class="thumbnail">
        <img src="https://via.placeholder.com/50x100" alt="Thumbnail 3" class="thumbnail">
      </div>
    </div>
  </div>

