:root{
  --primary-color: #C8E4FF;
  --secondary-color: #FFF9D0;
  --accent-color: #FFB4B4;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --button-color:#065A82;
  --nav-background-color: white;
  --nav-text-color: black;
  --nav-active-background: black;
  --nav-active-text: white;
}


body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fefefe;
  padding-top: 60px;
}

.container{
  border-bottom: 1px solid #ddd;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  padding: 20px;
}


.image-placeholder {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  background-color: #e0e0e0; /* Light grey background as a placeholder */
  border: 1px solid #ccc;
}

.about {
  margin: 50px auto;
  max-width: 1200px;
  text-align: left;
  line-height: 1.6;
}

.about-link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  transition: color 0.3s, border-color 0.3s;
}

.about-link:hover {
  color: #666;
  border-color: #666;
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 11vw; /* Adjust font size relative to viewport width */
  }
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 9vw; /* Further reduce the font size for smaller screens */
  }
}



.montserrat-h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.roboto-slab-about{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

img{
  opacity: .7;
}

img:hover{
  opacity: 1;
}
/* shared by all pages */

.hero-subtitle {
  font-size: 30px;
  max-width: 50%;
  margin: 0;
  letter-spacing: -1px;
}

.top-paragraph {
  margin: 0;
  /* Additional styling if needed */
}

.bottom-paragraph {
  margin: 0;
  font-size: .8rem;
  /* Additional styling if needed */
}

.small-image
{
  margin-top: 10px;
  max-width: fit-content;
}

@media (max-width: 768px) {

  body{
    padding-top: 0;
  }
}
