<!-- src/app/admin/order-list/order-list.component.html -->

<div class="order-list">
  <h2>Order List</h2>
  <table>
    <thead>
      <tr>
        <th>Order ID/Status</th>
        <th>Address</th>
        <th>Contact Info</th>
        <th>Square Footage</th>
        <th>Date/Time</th>
        <th>Items</th>
        <th>Edit</th>
        <th>Mark Completed</th>
        <th>Mark Deleted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>
          <a class="link"  (click)="navigateToGallery(order.id)">
            {{ order.id }}
          </a>
          <div [ngStyle]="{'color': order.status === 'Pending' ? 'red' : '', 'font-weight': order.status === 'Pending' ? 'bold' : ''}">
              {{ order.status || 'Pending' }}
          </div>
        </td>
        <td>{{order.customerInfo.Address}}</td>
        <td>{{ order.customerInfo.Name }}<br>
          {{ order.customerInfo.Email }}<br>
          {{ order.customerInfo.PhoneNumber }}
        </td>
        <td>{{ order.squareFootage }}</td>
        <td>{{ order.customerInfo.Date }}<br>{{ order.customerInfo.Time }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.cartContents">{{ item.name }} - {{ item.price | currency }}</li>
          </ul>
        </td>
        <td>
          <button (click)="navigateToEditOrder(order.id)">Edit</button>
        </td>
        <td>
          <button (click)="markAsCompleted(order.id)">Completed</button>
        </td>
        <td><button (click)="markAsDeleted(order.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
