<!-- src/app/admin/order-list/order-list.component.html -->

<div class="order-list">
  <h2>Order List</h2>

  <!-- Checkbox to show/hide Deleted orders -->
  <div class="form-group d-flex justify-content-between align-items-center">
    <div>
      <input type="checkbox" id="showDeleted" [(ngModel)]="showDeletedOrders" (change)="updateFilteredOrders()">
      <label for="showDeleted">Show Deleted Orders</label>
    </div>
    <!-- Display the number of orders shown -->
    <div>
      <strong>Orders Shown: {{ filteredOrderList.length }}</strong>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Order ID/Status</th>
        <th>Address</th>
        <th>Contact Info</th>
        <th>Square Footage</th>
        <th>Date/Time</th>
        <th>Items</th>
        <td>Comments</td>
        <th>Commands</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrderList">
        <td>
          <a class="link"  (click)="navigateToGallery(order.id)">
            {{ order.id }}
          </a>
          <div [ngStyle]="{'color': order.status === 'Pending' ? 'red' : '', 'font-weight': order.status === 'Pending' ? 'bold' : ''}">
              {{ order.status || 'Pending' }}
          </div>
        </td>
        <td>{{order.customerInfo.Address}}</td>
        <td>{{ order.customerInfo.Name }}<br>
          {{ order.customerInfo.Email }}<br>
          {{ order.customerInfo.PhoneNumber }}
        </td>
        <td>{{ order.squareFootage }}</td>
        <td>{{ order.customerInfo.Date }}<br>{{ order.customerInfo.Time }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.cartContents">{{ item.name }} - {{ item.price | currency }}</li>
          </ul>
        </td>
        <td>
          {{order.comments}}
        </td>
        <td>
          <button (click)="navigateToEditOrder(order.id)">Edit</button>
          <br>
          <button (click)="markAsCompleted(order.id)">Completed</button>
          <br>
        <button (click)="markAsDeleted(order.id)">Delete</button>
      </td>
      </tr>
    </tbody>
  </table>
</div>
