<div class="gallery">


  <!-- Order Details - Display only if order is available -->
  <div *ngIf="order">
    <h3>Order Details</h3>
    <p>Name: {{ order.customerInfo.Name }}</p>
    <p>Address: {{ order.customerInfo.Address }}</p>
    <p>Email: {{ order.customerInfo.Email }}</p>
    <p>Phone: {{ order.customerInfo.PhoneNumber }}</p>
    <p>Date: {{ order.customerInfo.Date }}</p>
    <p>Time: {{ order.customerInfo.Time }}</p>

    <!-- Cart Contents -->
    <h4>Cart Contents</h4>
    <ul>
      <li *ngFor="let item of order?.cartContents">
        {{ item.name }} - {{ item.price | currency }}
      </li>
    </ul>
  </div>

  <button (click)="downloadAllAsZip()">Download All</button>
  <!-- Gallery Images - Show only if images are loaded -->
  <div class="image-grid" *ngIf="imageUrls | async as urls">
    <img *ngFor="let imageUrl of urls" [src]="imageUrl" (click)="openModal(imageUrl)" (contextmenu)="disableRightClick($event)" />
  </div>
</div>
<div class="gallery">
<div *ngIf="safeTourLink">
  <h4>3D Tour</h4>
  <iframe width="853" height="480" [src]="safeTourLink" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
</div>
</div>
<div class="gallery">
  <h4>Video</h4>
  <iframe width="560" height="315" [src]="safeVideoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2> Order: {{ orderId }}</h2>
<!-- Bootstrap Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img id="fullImage" src="" alt="Full Image" />
      </div>
    </div>
  </div>
</div>
