<div class ="container">
  <section class="still-life-collection">
    <!-- Row 1: Text on left, image on right -->
    <div class="grid-row row-1">
      <div class="text-section">
        <div class="top-paragraph hero-subtitle">FLOOR PLAN COLLECTION</div>
        <div class="bottom-paragraph roboto-slab-about">
          Help buyers see the full potential of your property with detailed floor plans that show the true layout and flow of each space. Floor plans give buyers the opportunity to visualize how they’d live in a home, making it easier to understand room sizes and relationships.
          A professional floor plan adds clarity, boosts your listing’s appeal, and ensures buyers can make informed decisions.
<br><br><br><br>
<a href="#" class="about-link">View Gallery</a>
        </div>

      </div>
      <div class="image large">
        <img src="../../assets/all_floors_jpg_9050_37th_avenue_southwest_3610_sw_barton_st_seattle_wa__seattle.jpg" alt="Large Image" />
      </div>
    </div>

    <!-- Row 2: Image in the first column -->
    <div class="grid-row row-2">
      <div class="image vertical">
        <img src="../../assets/all_floors_130_southwest_194th_street_normandy_park_without_dim.jpg" alt="Vertical Image" />
      </div>
    </div>

    <!-- Row 3: Image in the last column -->
    <!-- <div class="grid-row row-3">
      <div class="image small">
        <img src="https://via.placeholder.com/400x500" alt="Small Image" />
      </div>
    </div> -->

    <!-- Row 4: Image in the second column -->
    <!-- <div class="grid-row row-4">
      <div class="image small">
        <img src="https://via.placeholder.com/300x400" alt="Small Image" />
      </div>
    </div> -->
  </section>

</div>
